.footer {
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 3rem 1rem 1rem 1rem;
  font-size: 1rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.footer-brand,
.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-brand p {
  opacity: 0.8;
  line-height: 1.6;
}

.logo {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  height: 60px;
  width: 150px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.footer-logo-text {
  font-size: 2 rem;
  color: var(--color-primary);
}

.footer h4 {
  font-size: 1.25rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 1rem;
}

.footer-contact ul {
  grid-template-columns: max-content 1fr;
}

.footer-links a,
.legal-links a {
  color: var(--color-background);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer-links a:hover,
.legal-links a:hover {
  opacity: 1;
  text-decoration: underline;
  color: var(--color-primary);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.social-icons a {
  color: var(--color-background);
  font-size: 2rem;
  opacity: 0.8;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
}

.social-icons a:hover {
  opacity: 1;
  color: var(--color-primary);
}

.footer-contact li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

.legal-links {
  margin-top: 0.5rem;
}
